
<div class="remove-container container-block">
  <h2 class="container-block-title">
    Skills Proficiency
  </h2>
<ul style="list-style-type:circle">
  <li>GCP</li>
  <li>AWS</li>
  <li>vMWare</li>
</ul>

  </br></br>
  
  <h2 class="container-block-title">
    CI/CD  
  </h2> 
  
<ul style="list-style-type:circle">
  <li>Jenkins</li>
  </ul>

</br></br>
  
  <h2 class="container-block-title">
    Storage and Networking 
  </h2> 
  
<ul style="list-style-type:circle">
  <li>Cloud NAT</li>
  <li>VPC</li>
  <li>Autoscaling</li>
</ul>

  </br></br>
  
  <h2 class="container-block-title">
    Security  
  </h2> 
  
<ul style="list-style-type:circle">
  <li>IAM</li>
  <li>IAP</li>
  <li>Cloud Security</li>
  <li>VPC SC</li>
  <li>SCC</li>
  <li>KMS</li>
  <li>DLP</li>
  <li>Secret Manager</li>
  <li>Cloud Security</li>
</ul>

  </br></br>
  
  <h2 class="container-block-title">
    Operating Systems  
  </h2> 
  
<ul style="list-style-type:circle">
  <li>RHEL</li>
  <li>Ubuntu</li>
  <li>Cloud Security</li>
  <li>Centos </li>
  <li>Windows</li>
</ul>

  </br></br>
  
  <h2 class="container-block-title">
    Monitoring Tools  
  </h2> 
  
<ul style="list-style-type:circle">
  <li>Nagios</li>
  <li>Netcom</li>
  <li>Alert Site</li>
  <li>Grafana</li>
  <li>kibana</li>
  <li>Viceroy</li>
  <li>Woodenshoes</li>
  <li>Stackdriver</li>
  <li>cloudwatch</li>
</ul>

  </br></br>
  
  <h2 class="container-block-title">
    Container Orchestration   
  </h2> 
  
<ul style="list-style-type:circle">
  <li>GKE (Google Kubernetes Engine)</li>
  </ul>

  </br></br>
  
  <h2 class="container-block-title">
    Service Management ITSM Tools 
  </h2> 
  
<ul style="list-style-type:circle">
  <li>ServiceNow</li>
  <li>Remedy</li>
  <li>Vector</li>
  <li>Jira</li>
  <li>Metabug</li>
  <li>Buganizer</li>
  </ul>

</div><!--//Proficiency-change-in-about-->
<!--  
<ul class="list-unstyled interests-list">
<pre>
  <label for="file">GCP</label>
  <progress id="file" value="95" max="100"> 90% </progress>

  <label for="file">AWS</label>
  <progress id="file" value="88" max="100"> 88% </progress>

  <label for="file">Linux</label>
  <progress id="file" value="98" max="100"> 98% </progress>

  <label for="file">Terraform</label>
  <progress id="file" value="90" max="100"> 90% </progress>

  <label for="file">DevOps</label>
  <progress id="file" value="95" max="100"> 95% </progress>

  <label for="file">Shell/Python</label>
  <progress id="file" value="98" max="100"> 98% </progress>  
</pre>
</ul>

<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
   
<ul class="no-bullets">
    <li>GCP</li>
    <li>AWS</li>
    <li>Linux</li>
    <li>DevOps</li>
    <li>Terraform</li>
    <li>Ansible</li>
    <li>Python</li>
    <li>Bash/Shell</li>
    <li>CI/CD</li>
  </ul>
-->
