{% assign achievements = site.data.data.sidebar.achievements %}
{% if achievements %}
<div class="achievements-container container-block">

  <h2 class="container-block-title">
    {{ achievements.title }}
  </h2>

  <ul class="list-unstyled achievements-list">
    {% for achievements in achievements.info %}

      {% if achievements.link %}
      <li><a href="{{ achievements.link }}">{{ achievements.item }}</a></li>
      {% else %}
      <li>{{ achievements.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//achievements-->
{% endif %}
