{% assign achievements = site.data.data.achievements %}
{% if achievements %}
<section class="section achievements-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ achievements.title }}
  </h2>
  
   <div class="info">
    {% for achievements in achievements.info %}
    <div class="item">
    <div class="meta">

      {% if experience.details %}
    <div class="details">

      {% if achievements.link %}
      <li><a href="{{ achievements.link }}">{{ achievements.item }}</a></li>
      {% else %}
      <li>{{ achievements.item }}</li>
      {% endif %}
      
   </div><!--//details-->
   </div><!--//item-->
    {% endfor %}
  </ul>

</div><!--//achievements-->



{% endif %}
